Flask==3.0.2
Flask-CORS==4.0.0
requests==2.31.0
PyPDF2==3.0.1
python-dotenv
anthropic==0.49.0  
httpx==0.25.0     
firebase-admin>=6.3.0
google-cloud-firestore>=2.11.1
google-auth>=2.22.0
supabase==2.3.1
pandas==2.2.2
Pillow==10.3.0
pytesseract==0.3.10
numpy==2.2.6
gotrue==2.5.4